.productPageContainer {
  width: 100%;
  max-width: 2000px;
  padding: 3rem 1rem;
}
.productPageContainer header {
  font-family: coanda;
  font-size: 3rem;
  margin-left: 6.2rem;
  margin-bottom: 2rem;
}
.productPageBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
